<div class="center">
<img class="beer" src="/images/beer.png" alt="beer photo"/>
</div>

<div class="center">
 <a href="/beers">Check the Beers!</a>
 
 <a href="/random-beer">Check a Random Beer!</a>

</div>