
{{#each responseFromAPI}}
<div class="random-beer">
   {{>beerpartial}}
   <ul> <b>Food Pairing:</b>
    <br>
    {{#each food_pairing}}
    <br>
    <li>{{this}}</li>
    {{/each}}
    </ul>
   <p><b>Brewers Tips:</b> {{this.brewers_tips}}</p>
  
</div>
{{/each}}
